.App {
    text-align: center;
  }

.Container {
  background-color: #1f1f1f;
}
  
.Navbar {
  background-color: #323232;
  min-height: 10vh;
  flex-direction: row;
  font-size: 50px;
  font-family: 'Courier New';
  word-spacing: 100px;
}

.NavItem {
  padding-left: 50px;
  padding-right: 50px;
}

.Carousel {
  box-shadow: inset 0 0 120px #000, inset 0 0 80px #000, inset 0 0 40px #000;
}

.News {
  border-radius: 100%;
}